<div class="row">
    <div class="col s6 offset-s3">
        <h2>Введите новый пароль</h2>
        <form method="post" action="/password">
            <div class="input-field">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">Email</label>
                <span class="helper-text" data-error="Введите пароль">Новый пароль</span>
            </div>
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">

            <input class="btn btn-primary" type="submit" value="Обновить пароль">
        </form>
    </div>
</div>
