
{{> head }}
<style>
    .container {
        width: 1000px;
        border: 1px solid red;
        margin: 0 auto;
    }
</style>
<body>
    <div class="container">
        layout.hbs<br>
        content =>{{{content}}}
    </div>
</body>
</html>